/* 
    Document   : constant
    Created on : Sep 9, 2013, 12:00:32 AM
    Author     : HANDITO
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}
body{
    padding: 0px;
    margin: 0px;
    background-image: url(../img/header_1.png);
    background-repeat: repeat;
    height: auto;
}
.container{
    width: 1024px;
    margin: 0px auto;
    background-color: white;
}
.container_home{
    width: 1024px;
    margin: 0px auto;
    background-image: url(../img/header_1.png);
    background-repeat: repeat;
}
@font-face{
    font-family: Futura;
    src: url('../font/Futura Bk Bt Book.ttf');
}
@font-face{
    font-family: Trajan;
    src: url('../font/TrajanPro-Regular.otf');
}
.header_1{
    width: auto;
    height: 300px;
    margin: 0px;
    z-index: 1;
    position: relative;   
    background-image: url(../img/header_1.png);
    background-repeat: repeat;
}
.header_1_home{
    width: auto;
    height: 190px;
    margin: 0px;
    z-index: 1;
    position: relative;   
}
.header_2{
    z-index: 2;
    position: relative;
    width: auto;
    height: 190px;
    background-color: #181818;
}
.header_3{
    z-index: 4;
    position: relative;
    width: auto;
    margin: 0px;
    height: 37px;
    background-image: url(../img/header_3.png);
    background-repeat: repeat-x;
}
.header_4{
    top: -70px;
    margin-left: -129px;
    padding: 0px;
    z-index: 3;
    position: relative;
    width: 500px;
    height: 180px;
    background: rgb(238,184,80); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,184,80,1) 0%, rgba(192,143,58,1) 90%, rgba(220,170,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,184,80,1)), color-stop(90%,rgba(192,143,58,1)), color-stop(100%,rgba(220,170,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb850', endColorstr='#dcaa47',GradientType=0 ); /* IE6-9 */
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
}
.header_4_home{
    margin-left: -130px;
    padding: 0px;
    top: -70px;
    z-index: 3;
    position: relative;
    width: 602px;
    height: 182px;
    background: rgb(238,184,80); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,184,80,1) 0%, rgba(192,143,58,1) 90%, rgba(220,170,71,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,184,80,1)), color-stop(90%,rgba(192,143,58,1)), color-stop(100%,rgba(220,170,71,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(238,184,80,1) 0%,rgba(192,143,58,1) 90%,rgba(220,170,71,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeb850', endColorstr='#dcaa47',GradientType=0 ); /* IE6-9 */
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-20deg) skewY(0deg);
}
.header_4:before{    
    display: block;
    content: "";
    background-image: url(../img/header_1.png);
    background-repeat: repeat;
    width: 166px;
    height: 195px;
    margin-left: -34px;
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
}
.header_4_home:before{
    display: block;
    content: "";
    background-image: url(../img/header_1.png);
    background-repeat: repeat;
    width: 166px;
    height: 195px;
    margin-left: -34px;
    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
    transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(+20deg) skewY(0deg);
}
.menu{
    padding-top: 10px;
    z-index: 4;
    position: relative;
    width: 960px;
    height: 60px;
    margin: 0px auto;    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #d9d9d9 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(89%,#d9d9d9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#d9d9d9 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#d9d9d9 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#d9d9d9 89%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#d9d9d9 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow:  0px 8px 20px -10px #000;
    box-shadow:  0px 8px 20px -10px #000;
}
.menulist{
    margin-left: 20px;
    padding: 0px;
    list-style: none;   
}
.menulist > li{
    font-family: Futura;
    font-size: medium;    
    font-style: normal;
    font-size: 0.9em;
    float: left;
    height: 20px;
    width: auto;
    padding-left: 10px;
    /*    -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(0deg);*/
}
.menulist > li > a {
    color: black;
    text-decoration: none;
}
.menulist > li > a:hover{
    color: #c89841;
}
.title{
    display: block;
    margin-left: 40px;
    top: -145px;
    z-index: 4;
    position: relative;
}
.title_home{
    display: block;
    margin-left: 40px;
    top: -155px;
    z-index: 4;
    position: relative;
}
.slogan{
    display: block;
    margin-left: 375px;
    z-index: 3;
    position: relative;
    top: -205px;
    left: 5px;
}
.slogan_home{
    display: inline-block;
    margin-left: 375px;
    z-index: 3;
    position: relative;
    top: -220px;
    left: 110px;
}
.back_slogan{
    top: -273px;
    width: 647px;
    height: 83px;
    z-index: 2;
    position: relative;
    margin-left: 345px;
    /*    background: rgb(163,163,163);  Old browsers 
        background: -moz-linear-gradient(-45deg,  rgba(163,163,163,1) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 30%, rgba(163,163,163,1) 51%, rgba(163,163,163,1) 53%, rgba(163,163,163,1) 55%, rgba(0,0,0,1) 70%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(163,163,163,1)), color-stop(15%,rgba(0,0,0,1)), color-stop(30%,rgba(0,0,0,1)), color-stop(51%,rgba(163,163,163,1)), color-stop(53%,rgba(163,163,163,1)), color-stop(55%,rgba(163,163,163,1)), color-stop(70%,rgba(0,0,0,1)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(-45deg,  rgba(163,163,163,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 30%,rgba(163,163,163,1) 51%,rgba(163,163,163,1) 53%,rgba(163,163,163,1) 55%,rgba(0,0,0,1) 70%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(-45deg,  rgba(163,163,163,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 30%,rgba(163,163,163,1) 51%,rgba(163,163,163,1) 53%,rgba(163,163,163,1) 55%,rgba(0,0,0,1) 70%);  Opera 11.10+ 
        background: -ms-linear-gradient(-45deg,  rgba(163,163,163,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 30%,rgba(163,163,163,1) 51%,rgba(163,163,163,1) 53%,rgba(163,163,163,1) 55%,rgba(0,0,0,1) 70%);  IE10+ 
        background: linear-gradient(135deg,  rgba(163,163,163,1) 0%,rgba(0,0,0,1) 15%,rgba(0,0,0,1) 30%,rgba(163,163,163,1) 51%,rgba(163,163,163,1) 53%,rgba(163,163,163,1) 55%,rgba(0,0,0,1) 70%);  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#000000',GradientType=1 );  IE6-9 fallback on horizontal gradient */
    background-image: url('http://localhost/Imajiku/cipto/asset/img/back_slogan_back_IE.jpg');
    background-size: 647px;
}
.back_slogan_home{
    top: -295px;
    width: 542px;
    height: 83px;
    z-index: 2;
    position: relative;
    margin-left: 450px;
    /*    background: rgb(0,0,0);  Old browsers 
        background: -moz-linear-gradient(-45deg,  rgba(0,0,0,1) 0%, rgba(163,163,163,1) 14%, rgba(0,0,0,1) 27%, rgba(0,0,0,1) 44%, rgba(163,163,163,1) 59%, rgba(0,0,0,1) 73%);  FF3.6+ 
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(14%,rgba(163,163,163,1)), color-stop(27%,rgba(0,0,0,1)), color-stop(44%,rgba(0,0,0,1)), color-stop(59%,rgba(163,163,163,1)), color-stop(73%,rgba(0,0,0,1)));  Chrome,Safari4+ 
        background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(163,163,163,1) 14%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 44%,rgba(163,163,163,1) 59%,rgba(0,0,0,1) 73%);  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(163,163,163,1) 14%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 44%,rgba(163,163,163,1) 59%,rgba(0,0,0,1) 73%);  Opera 11.10+ 
        background: -ms-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(163,163,163,1) 14%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 44%,rgba(163,163,163,1) 59%,rgba(0,0,0,1) 73%);  IE10+ 
        background: linear-gradient(135deg,  rgba(0,0,0,1) 0%,rgba(163,163,163,1) 14%,rgba(0,0,0,1) 27%,rgba(0,0,0,1) 44%,rgba(163,163,163,1) 59%,rgba(0,0,0,1) 73%);  W3C */
    background-image: url('http://localhost/Imajiku/cipto/asset/img/back_slogan_back_IE.jpg');
}
.sub_title_1{
    font-family: Futura;
    color: #c89841;
    font-weight: 100;
    margin-left: 40px;
    margin-top: 55px;
}
.sub_title_url{
    margin-left: 840px;
    margin-top: -45px;
}
.sub_title_url_list{
    padding: 0px;
    list-style: none;
}
.sub_title_url_list > li {
    float: left;
    padding-left: 5px;
    font-family: Futura;
    font-size: small;
}
.content_1{
    width: auto;
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer_1{
    width: auto;
    height: auto;
}
.footer_2{
    z-index: 1;
    position: relative;
    margin-bottom: 0px;
    height: 68px;
    background: rgb(11,11,11); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(11,11,11,1) 0%, rgba(11,11,11,1) 9%, rgba(66,66,66,1) 13%, rgba(66,66,66,1) 20%, rgba(11,11,11,1) 24%, rgba(11,11,11,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(11,11,11,1)), color-stop(9%,rgba(11,11,11,1)), color-stop(13%,rgba(66,66,66,1)), color-stop(20%,rgba(66,66,66,1)), color-stop(24%,rgba(11,11,11,1)), color-stop(100%,rgba(11,11,11,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(11,11,11,1) 0%,rgba(11,11,11,1) 9%,rgba(66,66,66,1) 13%,rgba(66,66,66,1) 20%,rgba(11,11,11,1) 24%,rgba(11,11,11,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(11,11,11,1) 0%,rgba(11,11,11,1) 9%,rgba(66,66,66,1) 13%,rgba(66,66,66,1) 20%,rgba(11,11,11,1) 24%,rgba(11,11,11,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(11,11,11,1) 0%,rgba(11,11,11,1) 9%,rgba(66,66,66,1) 13%,rgba(66,66,66,1) 20%,rgba(11,11,11,1) 24%,rgba(11,11,11,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(11,11,11,1) 0%,rgba(11,11,11,1) 9%,rgba(66,66,66,1) 13%,rgba(66,66,66,1) 20%,rgba(11,11,11,1) 24%,rgba(11,11,11,1) 100%); /* W3C */
}
.copy{
    display: inline-block;
    font-family: Futura;
    font-size: small;
    color: white;
    z-index: 4;
    position: relative;
    top: 25px;
    left: 60px;
}
.footer_3{
    margin-top: -90px;
    float: right;
    display: block;
    z-index: 2;
    position: relative;
    width: 540px;
    height: 90px;
    background-image: url('../img/footer_3.png');
}
.mail{
    margin-left: 75px;
    margin-top: 20px;
    display: block;
    width: 57px;
    height: 57px;
    border-radius: 57px;
    -webkit-border-radius: 50%;
    box-shadow: inset 2px 2px 2px 1px #B17A11;
    -webkit-box-shadow: inset 2px 2px 2px 1px #B17A11;
    background: rgb(216,158,48); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(216,158,48,1) 0%, rgba(196,128,1,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(216,158,48,1)), color-stop(100%,rgba(196,128,1,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(216,158,48,1) 0%,rgba(196,128,1,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(216,158,48,1) 0%,rgba(196,128,1,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(216,158,48,1) 0%,rgba(196,128,1,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(216,158,48,1) 0%,rgba(196,128,1,1) 100%); /* W3C */
}
.mail_img{
    margin-left: 11px;
    margin-top: 15px;
}
.sub_footer_3{
    display: block;
    font-family: Trajan;
    margin-left: 160px;
    margin-top: -80px;
}
.sub_footer_3 > h4{
    margin-bottom: 0px;
}
.sub_footer_3 > input[type=text]{
    padding: 5px;
    width: 245px;
    height: 25px;
    background: rgb(211,147,37); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(211,147,37,1) 0%, rgba(201,143,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,147,37,1)), color-stop(100%,rgba(201,143,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* W3C */
    border: 0px;
}
.sub_footer_3 > input[type=submit]{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px solid white;
    height: 39px;
    width: 39px;
    font-size: medium;
    color: white;
    background: rgb(211,147,37); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(211,147,37,1) 0%, rgba(201,143,34,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(211,147,37,1)), color-stop(100%,rgba(201,143,34,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(211,147,37,1) 0%,rgba(201,143,34,1) 100%); /* W3C */
}
.sub_footer_3 > input[type=submit]:hover{
    background: rgb(201,143,34); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,143,34,1) 0%, rgba(211,147,37,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,143,34,1)), color-stop(99%,rgba(211,147,37,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(201,143,34,1) 0%,rgba(211,147,37,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(201,143,34,1) 0%,rgba(211,147,37,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(201,143,34,1) 0%,rgba(211,147,37,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(201,143,34,1) 0%,rgba(211,147,37,1) 99%); /* W3C */
}
.sub_footer_3 > input[type=submit]:active{
    -webkit-box-shadow: inset 2px 2px 2px 1px #B17A11;
    box-shadow: inset 2px 2px 2px 1px #B17A11;
}